<%- include('../includes/head.ejs') %>
  </head>
<body>
  <!-- Page Content Holder -->
  <div class="wrapper">

    <%- include('../includes/sidenav.ejs') %>
    <%- include('sections/dashboard-content.ejs') %>
    <%- include('includes/patient-card.ejs') %>
    <%- include('sections/daily-care-content.ejs') %>
    <%- include('../includes/footer.ejs') %>
</div>
<%- include('../includes/end.ejs') %>
