<%- include('../includes/head.ejs') %>
  </head>
<body>
<div id="wrapper">
    <div class="overlay"></div>
    <%- include('../includes/sidenav.ejs') %>
    <%- include('includes/patient-card.ejs') %>
    <%- include('includes/tabs.ejs') %>
    <%- include('sections/health-section.ejs') %>
    <%- include('sections/vitals-section.ejs') %>
    <%- include('sections/hospital-info-section.ejs') %>
    <%- include('../includes/footer.ejs') %>
</div>
<%- include('../includes/end.ejs') %>
